.container{
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    margin-bottom: 330px;
}

p{
margin: 0;
font-size: 18px;
margin-bottom: 16px;
}

.label:nth-child(1) {
    margin-bottom: 10px;
}

/* .label:nth-child(2) {
    margin-bottom: 30px;
} */
.inp{
    width: 320px;
    height: 39px;
    border-radius: 50px;
    border: 1px solid #828282;
    outline: none;

    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.2px;

    padding: 10px 16px ;
   
}