.style{
    border: none;
    background-color: rgb(35, 183, 54);
    border-radius: 6px;
    display: flex;
    padding: 10px 15px;
    transition-property: background-color;
    transition-property: color;
    transition-duration: 900ms;
    transition-timing-function: linear;
}

.style:hover{
background-color: rgb(2, 7, 2);
color: white;
/* transition-property: background-color;
transition-property: color;
transition-duration: 900ms;
transition-timing-function: linear; */

}