.wrapper{
    display: flex;
        height: auto;
        width: 100%;
    flex-direction: column;
        /* justify-content: space-around; */
        max-height: 100%;
}

.forma{
    display: flex;
    flex-direction: column;
justify-content: space-between;
}

.listBtn{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    
    /* align-self:flex-end */
   
}