.style{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.label{
    width: 304px;
}

.inp{
    width: 100%;
    height:26px ;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}