.style{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
    width: 320px;
}

.label{
    width: 320px;
    height: 44px;
}

.inp{
    font-size: 16;
    font-weight: 300;
    padding: 12.5px 20px;
    border-radius: 50px;
    width: 320px;
    height: 44px;
    border: 1px solid #CCCCCC;
    outline: none;
}