.list{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 10px;
    width: auto;
    gap: 20px;
    max-height: 390px;
    overflow: auto;
}

.item{
    
   display: flex;
    padding: 12.5px 20px;
    width: 100%;
    align-items: center;
  
    border-bottom: 1px solid #828282;

}

.name{
    text-align: center;
    font-weight: 200;
    font-size: 16px;
    line-height: 19.2px;
    margin: 0;
}

.number{
    margin: 0;
    text-align: center;
font-weight: 100;
font-size: 14px;
line-height: 17.8px;
color: #828282;
}

.listBtn{
    list-style: none;
display: flex;
column-gap:13px ;
margin: 0;
padding: 0;

margin-left: auto;
}

.svg {
    width: 18px;
    height: 18px;
    transform-origin: center;
    transition: transform 0.4s ease;
}



/* @keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-16deg);
    }

    100% {
        transform: rotate(0deg);
    }
} */



.listDataUser{
    display: block;
    min-width: 40px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    margin-right: 13px;
}
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #828282;
    /* Колір полоси скролбару */
    border-radius: 3px;
    /* Радіус кутів */
}


@media screen and (min-width: 1278.9px) {

.svg:hover {
        transform: rotate(-16deg);
        /* transform: scale(1.1); */
    }

}