@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
.wrapper {
  margin-top: 10px;

  width: 360px;
  height: 640px;
  padding: 20px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;

  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.62); */
}

.titleWrapper{
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
}

.listNavigate{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.listNavigateItem .pageNavigate.active {
  color: #41F3D3;
}

.listNavigateItem {
font-weight: 500;
font-size: 22px;
line-height: 26.4px;
}

.pageNavigate{
text-decoration: none;
font-weight: 500;
font-size: 22px;
line-height: 26.4px;
color: #000000;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #828282;
  /* Колір полоси скролбару */
  border-radius: 3px;
  /* Радіус кутів */
}