
.wrapper {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    /* justify-content: space-around; */
    max-height: 100%;
}

.forma {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listBtn {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;

    /* align-self:flex-end */

}

.listNum {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    column-gap: 8px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.itemNum {
    font-size: 20px;
}